/*** Base ***/

.white-2 a, .white-2 a:hover {
  color: #000 !important;
  font-weight: bold !important;
}

/*** General ***/

.white-2.pop-up-cc {
  color: #090909 !important; 
}
.white-2 .modal-inner {
  background: #fff;
  font-family: 'Open Sans', sans-serif !important;
}

/*** Close Button ***/

.white-2 .cc-pu-close {
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: #fff !important;
}
.white-2 .cc-pu-close i {
  color: #000 !important;
}
/*** Headers ***/

/*** Primary ***/

.white-2 .modal-inner h2 {
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-size: 1.6em !important;
  line-height: 1.34 !important;
  font-family: 'Oswald', sans-serif !important;
  color: #000 !important;
}

/*** Secondary ***/

.white-2 .modal-inner h3 {
  text-transform: uppercase !important;
  font-size: 1.1em !important;
  line-height: 1.6em !important;
  font-weight: 300 !important;
  font-family: 'Oswald', sans-serif !important;
  color: #000 !important;
}

/*** Content ***/

/*** Privacy ***/

.white-2 .cc-pu-privacy-info a {
  border-bottom: 1px solid #cac8c0 !important;
}

/*** Form ***/

.white-2 .cc-pu-form-control {
  border: 1px solid #e0e0e0 !important;
  background: #fff !important;
  font-family: "Open Sans", sans-serif !important;
  border-radius: 0 !important;
}
.white-2 .cc-pu-smart-form .cc-pu-btn, .white-2 .cc-pu-smart-form .cc-pu-btn:hover {
  background: #000 !important;
  color: #fff !important;
  padding: 11px 5px !important; 
  font-weight: 700 !important;
  font-family: 'Oswald', sans-serif !important;
  text-transform: uppercase !important; 
  text-align: center !important; 
  display: block !important; 
  width: 100% !important; 
  border-radius: 0 !important;
}

.white-2.pop-up-cc .cc-pu-thank-you {
    background-color: #090909 !important;
}
.white-2.pop-up-cc .cc-pu-thank-you p { 
    color:#fff !important;
}
.white-2.pop-up-cc .cc-pu-thank-you:after {  
     border-top: 8px solid #090909 !important;
}

