/*** Base ***/

.black-2 a, .black-2 a:hover {
  color: #fff !important;
  font-weight: bold !important;
}

/*** General ***/

.black-2.pop-up-cc {
  color: #fff !important;  
}
.black-2 .modal-inner {
  background: #090909;
  font-family: 'Open Sans', sans-serif !important;
}

/*** Close Button ***/

.black-2 .cc-pu-close {
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: #090909;
}
.black-2 .cc-pu-close i {
  color: #fff;
}
/*** Headers ***/

/*** Primary ***/

.black-2 .modal-inner h2 {
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-size: 1.6em !important;
  line-height: 1.34 !important;  
  color: #fff !important;  
  margin: 12px 0 0.92857em !important;
  font-family: 'Oswald', sans-serif !important;
}

/*** Secondary ***/

.black-2 .modal-inner h3 {
  text-transform: uppercase !important;
  font-size: 1.1em !important;
  line-height: 1.6em !important;
  font-weight: 300 !important;
}

/*** Content ***/

/*** Privacy ***/

.black-2 .cc-pu-privacy-info a {
  border-bottom: 1px solid #fff !important;
  color: inherit !important;
  font-family: inherit !important;
}

/*** Form ***/

.black-2 .cc-pu-form-control {
  border: 1px solid #fff !important;
  background: #fff !important;
  font-family: "Open Sans", sans-serif !important;
  border-radius: 0 !important;
}
.black-2 .cc-pu-smart-form .cc-pu-btn, .black-2 .cc-pu-smart-form .cc-pu-btn:hover {
  background: #fff !important;
  color: #090909 !important;
  padding: 11px 5px !important; 
  font-weight: 700 !important;
  font-family: 'Oswald', sans-serif !important;
  text-transform: uppercase !important; 
  text-align: center !important; 
  display: block !important; 
  width: 100% !important; 
  border-radius: 0 !important;
}

.black-2.pop-up-cc .cc-pu-thank-you {
    background-color: #fff !important;
}
.black-2.pop-up-cc .cc-pu-thank-you p { 
    color:#090909 !important;
}
.black-2.pop-up-cc .cc-pu-thank-you:after {  
     border-top: 8px solid #fff !important;
}

